
@media screen and (max-width: 550px) {
    .icon{
        font-size: 15px !important;
    }
    .logo_{
        width: 60px !important
    }
}


.post_textarea{
    border: none !important;
    resize: none;
    outline: none !important;
    font-size: 1.4rem;
}

.post_textarea:focus{
    outline: none !important;
    box-shadow: inset 0 -1px 0 #ddd !important;
}